<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Users/shimabukurotomonari/Desktop/MyB/css/styles.css">
    <script src="../js/mypage.js" defer></script>
    <title>マイページ</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<script type="text/javascript">
        $(document).ready(function(){
            $('.slider').bxSlider({
                auto: true,
                pause: 5000,
            });
        });
</script>

</head>
<body>
    <div class="header">
        <h1>Mybe-log</h1>
        <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
            <li itemprop="itemListElement" itemscope
                itemtype="https://schema.org/ListItem">
              <a itemprop="item" href="/Users/shimabukurotomonari/Desktop/MyB/templates/upload.html">
                  <span itemprop="name">アップロード</span>
              </a>
              <meta itemprop="position" content="1" />
            </li>
          
            <li itemprop="itemListElement" itemscope
                itemtype="https://schema.org/ListItem">
              <a itemprop="item" href="/Users/shimabukurotomonari/Desktop/MyB/templates/mypage.html">
                  <span itemprop="name">マイページ</span>
              </a>
              <meta itemprop="position" content="2" />
            </li>
          </ol>  

<div class="header">
    <h1>マイページ</h1>
</div>

<div class="profile-container">
    <div class="profile-item">
        <a  href="" class= "btn btn--orange">Name</a>
        <p id="name">A</p>
    </div>

    <div class="profile-item">
        <a  href="" class= "btn btn--orange">mybe-log</a>
        <p id="treatmentHistory">2023-01-01</p>
        <div class="profile-item">
            <div class="slider">
                "{% for image in images %}
                <img src="{{ url_for('static', filename='images/' + image['filename']) }}" width= auto height= auto alt="">
            {% endfor %}" 
                <img src="/Users/shimabukurotomonari/Desktop/beautysite/2021.09.15.JPG" width= auto height= auto alt="">
                <img src="/Users/shimabukurotomonari/Desktop/beautysite/2022.01.01.JPG" width= auto height= auto alt="">
                <img src="/Users/shimabukurotomonari/Desktop/beautysite/2022.07.08.JPG" width= auto height= auto alt="">
                </div>
        </div>
    </div>

    <div class="profile-item">
        <a  href="" class= "btn btn--orange">salon-log</a>
        <p id="treatmentHistory">最終施術日: 2023-01-01</p>
        <div class="slider">
            <img src="/Users/shimabukurotomonari/Desktop/beautysite/2021.01.01.JPG" width= auto height= auto alt="">
            <img src="/Users/shimabukurotomonari/Desktop/beautysite/2021.09.15.JPG" width= auto height= auto alt="">
            <img src="/Users/shimabukurotomonari/Desktop/beautysite/2022.01.01.JPG" width= auto height= auto alt="">
            <img src="/Users/shimabukurotomonari/Desktop/beautysite/2022.07.08.JPG" width= auto height= auto alt="">
            </div>
    </div>

    <div class="profile-item">
        <a  href="" class= "btn btn--orange">favorite</a>

        <div class="profile-item">
            <div class="slider">
                <img src="/Users/shimabukurotomonari/Desktop/beautysite/2021.01.01.JPG" width= auto height= auto alt="">
                <img src="/Users/shimabukurotomonari/Desktop/beautysite/2021.09.15.JPG" width= auto height= auto alt="">
                <img src="/Users/shimabukurotomonari/Desktop/beautysite/2022.01.01.JPG" width= auto height= auto alt="">
                <img src="/Users/shimabukurotomonari/Desktop/beautysite/2022.07.08.JPG" width= auto height= auto alt="">
                </div>
        </div>
    </div>

    <div class="profile-item">
        <a  href="" class= "btn btn--orange">like</a>
        <div class="profile-item">
            <div class="slider">
                <img src="/Users/shimabukurotomonari/Desktop/beautysite/2021.01.01.JPG" width= auto height= auto alt="">
                <img src="/Users/shimabukurotomonari/Desktop/beautysite/2021.09.15.JPG" width= auto height= auto alt="">
                <img src="/Users/shimabukurotomonari/Desktop/beautysite/2022.01.01.JPG" width= auto height= auto alt="">
                <img src="/Users/shimabukurotomonari/Desktop/beautysite/2022.07.08.JPG" width= auto height= auto alt="">
                </div>
        </div>
    </div>
</div>

</body>
</html>

