<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <script>
        function confirmDelete(filename) {
            var result = confirm('Are you sure you want to delete this image?');
            if (result) {
                window.location.href = '/delete/' + filename;
            }
        }
    </script>
</head>
<body>
    <h1>Image Gallery</h1>

    <!-- アップロードフォーム -->
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*">
        <button type="submit">Upload</button>
    </form>

    <!-- 画像を表示 -->
    {% for image in images %}
        <img src="{{ url_for('static', filename='images/' + image['filename']) }}" alt="Image">
        <a href="javascript:void(0);" onclick="confirmDelete('{{ image['filename'] }}')">Delete</a>
    {% endfor %}
</body>
</html>
