<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
</head>
<body>
    <h1>Image Gallery</h1>

    <!-- 画像を表示と削除 -->
    {% for image in images %}
        <img src="{{ url_for('static', filename='images/' + image['filename']) }}" alt="Image">
        <a href="{{ url_for('delete', filename=image['filename']) }}">削除</a>
    {% endfor %}

    <!-- 画像をアップロードするフォーム -->
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*">
        <button type="submit">Upload</button>
    </form>
</body>
</html>
