<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>アップロード</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>


</head>
<body>
    <div class="header">
        <h1>Mybe-log</h1>
        <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
          
            <li itemprop="itemListElement" itemscope
                itemtype="https://schema.org/ListItem">
              <a itemprop="item" href="/upload">
                  <span itemprop="name">アップロード</span>
              </a>
              <meta itemprop="position" content="1" />
            </li>
          
            <li itemprop="itemListElement" itemscope
                itemtype="https://schema.org/ListItem">
              <a itemprop="item" href="/mypage">
                  <span itemprop="name">マイページ</span>
              </a>
              <meta itemprop="position" content="2" />
            </li>
          </ol>  

<div class="header">

    <h1>アップロード</h1>

    <p>ようこそ {{ session['user_id'] }} さん！</p>
        
    <!-- 画像を表示 -->
    {% for image in images %}
    <img src="{{ url_for('static', filename='images/'+ session['user_id']|string+ '/'  + image.filename) }}" width=100 height=auto alt="Image">
    {% endfor %}

    
    <!-- 画像をアップロードするフォーム -->
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required>
        <select name="tag">
            <option value="mybe-log">mybe-log</option>
            <option value="salon-log">salon-log</option>
            <option value="favorite">favorite</option>
            <option value="like">like</option>
        </select>
        <button type="submit">Upload</button>
    </form>
</div>


</body>
</html>

